.blog-blue-bg-left {
    height: 100%;
    width: 50vw;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    background: $dark-blue;

    @include media-breakpoint-down(sm) {
        width: 100%;
        height: 80%;
    }
}

section.blog-banner-wrap {
    position: relative;

    &::after {
        content: '';
        background-image: url(../../images/plus-pattern-blue.png);
        width: 50vw;
        height: 615px;
        z-index: -1;
        position: absolute;
        right: 0;
        top: 31px;
        background-repeat: repeat;

        @include media-breakpoint-down(sm) {
            width: 100%;
            height: 580px;
            top: inherit;
            bottom: 0;
            z-index: -9;
        }
    }

    .blog-banner-desc {
        h1 {
            color: $white;
            @include rem(margin-bottom, 20px);

            @include media-breakpoint-down(sm) {
                @include rem(font-size, 42px !important);
                line-height: 44px;
            }
        }

        p {
            color: $white;

            a {
                color: $bright-blue;
                font-weight: 700;
            }
        }
    }
}

.blog-banner-img {
    @include rem(margin-top, 60px);
    @include rem(margin-bottom, 60px);

    @include media-breakpoint-down(sm) {
        @include rem(margin-bottom, 0);
    }

    @include media-breakpoint-up(md) {
        position: absolute;
        width: calc(100% - 25px);
    }
}

.blog-banner-desc {
    @include rem(padding, 60px 0);

    @include media-breakpoint-down(sm) {
        @include rem(padding-bottom, 0);
        @include rem(padding-right, 0);
    }
}

.sm-profile {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    outline: none;

    .sm-profile-img {
        border: solid 2px $white;
        background-color: $white-400;
        border-radius: 60px;
        overflow: hidden;

        img {
            border-radius: 60px;
            width: 48px;
            height: 48px;
            object-fit: cover;
        }
    }

    .sm-profile-name {
        @include rem(font-size, 14px);
        font-weight: 600;
        color: $white-500;
        @include rem(margin-left, 17px);
    }
}

section.section.blogs-template-cards {
    @include rem(padding, 100px 0);

    @include media-breakpoint-down(sm) {
        @include rem(padding, 60px 0);
    }

    .blog-space {
        @include rem(margin-bottom, 60px);
    }

    .btn.btn-primary {
        min-width: 228px;
    }
}

.card.blog-card-wrap {
    box-shadow: 15px 15px 30px 0 rgba(51, 51, 51, 0.05);
    background-color: $white;
    border: 0;
    max-width: 320px;
    height: 100%;
    @include rem(margin, 0 auto);
    border-bottom-right-radius: 8px;

    @include media-breakpoint-down(sm) {
        max-width: 100%;
    }

    .card-body {
        @include rem(padding, 0 30px 30px 30px);

        h4 {
            @include rem(font-size, 24px);
            font-weight: bold;
            color: $dark-blue;
            line-height: 26px;
            @include rem(margin, 0);
        }

        .sm-profile {
            @include rem(margin-top, -30px);
            @include rem(margin-bottom, 20px);

            .sm-profile-name {
                @include rem(margin-top, 33px);
                @include rem(margin-left, 10px);
            }
        }
    }

    img.card-img-top {
        border-radius: 0;
    }
}

section.blog-nav-wrap {
    background-color: $white-200;
    @include rem(padding, 17px 0);

        @media (max-width: 575.98px) {
            .nav-shadow{
                position: relative;
                &::after{
                    position: absolute;
                    width: 100px;
                    height: 69px;
                    right: 0;
                    top: -17px;
                    background-image: linear-gradient(to right, rgba(0, 43, 61, 0), #f7f7f7);
                    content: "";
                    pointer-events: none;
                }
                ul{
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

    ul {
        @include rem(margin, 0);

        @media (max-width: 575.98px) {
            flex-wrap: nowrap !important;
            overflow-x: auto;
            overflow-y: hidden;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        li {
            @include rem(font-size, 18px);
            font-weight: 900;
            line-height: 24px;
            color: $dark-blue;
            @include rem(padding-right, 30px);
            text-transform: uppercase;
            &.current_page_item {
                a {
                    &::after {
                        background: #46c3fc;
                    }
                }
            }
            &.current-menu-item {
                a {
                    &::after {
                        background: #46c3fc;
                    }
                }
            }
            &:hover {
                a {
                    &::after {
                        background: #46c3fc;
                    }
                }
            }
            a {
                position: relative;
                @include rem(font-size, 14px);
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    bottom: -7px;
                    left: 0;
                }
            }
        }

        li.active {
            a {
                border-bottom: solid 3px $bright-blue;
                border-radius: 3px;
            }
        }
    }
}

section.resources-second-wrap.resources-book-wrap.all-ebooks-wrap.blog-banner-wrap.ebook-details-hero {
    h4 {
        color: $white;
    }
}

section.section.ebook-details-desc {
    .ebook-profile {
        @include rem(margin-top, 150px);
    }
}
