// Footer
footer.main-footer {
    background-color: $dark-blue;
    @include rem(padding-top, 50px);
    @include rem(padding-bottom, 60px);
    color: $white;

    @include media-breakpoint-down(xs) {
        @include rem(padding-top, 60px);
        @include rem(padding-bottom, 25px);
    }

    .footer-logo {
        @include rem(margin-bottom, 35px);

        @include media-breakpoint-down(xs) {
            @include rem(margin-bottom, 10px);
        }
    }

    .footer-text {
        font-weight: 600;

        @include media-breakpoint-down(md) {
            max-width: 200px;
        }

        @include media-breakpoint-down(xs) {
            margin: 0 auto;
            @include rem(margin-bottom, 0);
        }
    }

    ul {
        li {
            a {
                font-family: "altivo";
                @include rem(font-size, 14px);
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
                display: block;
                @include rem(margin-bottom, 10px);
                text-decoration: none;
            }
        }
    }

    p {
        color: $white;
        @include rem(font-size, 14px);
        line-height: 24px;
        @include rem(margin-bottom, 20px);
    }

    .sm-footer-text {
        @include rem(font-size, 12px);
        line-height: 24px;
        @include rem(margin, 0);
        @include rem(margin-top, 46px);

        @include media-breakpoint-down(xs) {
            @include rem(margin-top, 29px);
        }
    }

    @include media-breakpoint-down(md) {
        h4 {
            @include rem(margin-top, 60px);
        }
    }

    @include media-breakpoint-down(xs) {
        h4 {
            @include rem(margin-top, 30px);
        }
    }

    .certifications-badges-wrapper {
        @include rem(margin-top, 30px);

        .logo {
            max-width: 71px;

            &:first-child {
                @include rem(margin-right, 20px);
            }
        }
    }
}

@include media-breakpoint-down(md) {
    footer.main-footer {
        .col-sm-10.col-lg-4.text-center.text-lg-left {
            order: -1;
            @include rem(margin-bottom, 40px);

            >h4 {
                @include rem(margin-top, 10px);
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    footer.main-footer {
        .col-12.col-sm-6.col-lg-3.text-center.text-sm-left {
            order: 1;
        }

        ul.list-unstyled.footer-links.m-0 {
            text-align: center;
            @include rem(margin-bottom, 40px !important);
        }

        .col-12.text-center {
            order: 2;
        }
    }
}
