header {
	background-color: #fff;
	z-index: 9999;
	position: relative;
}
a.nav-link.dropdown-toggle {
	&::after {
		opacity: 0;
		display: none;
	}
}
.navbar {
	.nav-item {
		.dropdown-menu {
			border: 0;
			border-radius: 0;
			padding: 0;
			background-color: #fff;
			&::after {
				position: absolute;
				right: -40%;
				content: "";
				background-color: #fff;
				width: 50%;
				height: 100%;
				top: 0;
				z-index: -1;
			}
			.links {
				text-transform: none;
				@media (hover:hover){
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.dropdown.has-megamenu {
	.dropdown-menu {
		li {
			a {
				border: 0;
				border-radius: 0;
				background-color: transparent;
					@media (max-width: 575.98px) {
						margin: 0;
					}
			}
		}
	}
}
.header-nav {
	.dropdown {
		.dropdown-menu {
			a {
				border: 0 !important;
				margin: 0;
				text-decoration: none;
			}
		}
	}
}
.mega-left {
	background-color: #f7f7f7;
	height: 100%;
	position: relative;
	padding: 40px 0;
	padding-right: 30px !important;
		h4 {
			text-transform: uppercase;
		}
	&::before {
		position: absolute;
		left: -200%;
		content: "";
		background-color: #f7f7f7;
		width: 201%;
		height: 100%;
		top: 0;
		z-index: -1;
	}
	a.links {
		margin: 0 !important;
	}
}
.mega-col {
	padding: 40px 0;
}
html, body {
	overflow-y: auto;
	overflow-x: hidden;
}
.dropdown-menu.megamenu {
	.mega-col {
		p {
			font-size: 12px;
			line-height: 1.83;
			letter-spacing: normal;
			color: #606060;
			margin-bottom: 20px;
		}
		h5 {
			font-size: 16px;
			font-weight: 500;
			font-family: "altivo", sans-serif;
			color: #0d2132;
			line-height: 1.75;
			text-transform: uppercase;
		}
		a.links {
			font-family: Montserrat;
			font-size: 11px;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
	}
	.mega-left {
		h4 {
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
			line-height: 1.71;
		}
		a.links {
			font-family: Montserrat;
			font-size: 14px;
			font-weight: bold;
			color: #606060 !important;
		}
	}
}
.nav-ovraly {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(13, 33, 50, 0.3);
}
.btn.btn-warning.sm-md-show-btn {
	display: none;
}
a.navbar-brand {
	>img {
		max-height: 34px;
	}
}
@media all and (min-width: 576px) {
	.navbar {
		.dropdown-menu-end {
			right: 0;
			left: auto;
		}
		.nav-item {
			.dropdown-menu {
				display: block;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.7s, transform 0.7s;
				margin-top: 0;
			}

		}
		.dropdown-menu.fade-down {
			top: 90%;
			transform: rotateX(-75deg);
			transform-origin: 0% 0%;
		}
		.dropdown-menu.fade-up {
			top: 180%;
		}
		.has-megamenu {
			position: static !important;
		}
		.megamenu {
			left: 0;
			right: 0;
			width: 100%;
			margin-top: 0;
		}
	}
	header {
		.header-nav {
			.navbar {
				padding: 0;
			}
		}
	}
	.header-nav {
		li.nav-item {
			min-height: 72px;
			display: flex;
			align-items: center;
		}
		li.nav-item.last-btn {
			min-height: auto !important;
		}
	}
	.dropdown-menu-md-none {
		display: none;
	}
}
@media (max-width: 575.98px) {
	.navbar.fixed-top {
		.navbar-collapse {
			overflow-y: auto;
			max-height: 90vh;
			margin-top: 10px;
		}
	}
	.navbar.sticky-top {
		.navbar-collapse {
			overflow-y: auto;
			max-height: 90vh;
			margin-top: 10px;
		}
	}
	.mega-left {
		padding: 30px 0;
	}
	.mega-col {
		padding: 30px 0;
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	button.navbar-toggler {
		position: relative;
		margin-left: auto;
		margin-right: 30px;
		&:not(.inner-nav-xs) {
			&::before {
				content: "MORE";
				font-size: 14px;
				font-weight: 500;
				font-family: Altivo;
				color: #0d2132;
				z-index: -1;
				margin-left: -16px;
			}
			&::after {
				content: "";
				background-image: url(../../images/icon-dropdown.svg);
				width: 10px;
				height: 7px;
				position: absolute;
				right: -9px;
				background-repeat: no-repeat;
				top: 18px;
			}
		}
		>svg {
			display: none !important;
		}
	}
	.header-nav {
		ul.navbar-nav {
			flex-direction: row;
			padding: 0 !important;
			justify-content: flex-end;
		}
		.navbar-collapse {
			top: 53px;
			width: 100%;
			border-radius: 0;
			max-width: 100%;
			max-height: 50px;
			ul.navbar-nav li.nav-item.last-btn,
			.inner-nav-xs.navbar-toggler {
				display: none;
			}
			&::before {
				background-color: #ffffff;
				width: 50%;
				position: absolute;
				left: -30%;
				height: 50px;
				content: "";
				z-index: -9;
				top: 0;
			}
			&::after {
				background-color: #ffffff;
				width: 50%;
				position: absolute;
				right: -30%;
				height: 50px;
				content: "";
				z-index: -9;
				top: 0;
			}
		}
		.navbar {
			.navbar-nav {
				>li {
					>a {
						padding: 0;
						margin-bottom: 0;
						font-size: 14px;
						font-weight: 500;
						color: #0d2132 !important;
						border-top: solid 3px transparent;
					}
				}
			}
		}
		li.nav-item {
			min-height: 50px !important;
		}
		padding: 9px 0;
	}
	.hero-nav-hover-wrap {
		.header-nav {
			.navbar-collapse {
				top: 80px;
				width: 100%;
				border-radius: 0;
				max-width: 100%;
				max-height: 50px;
			}
		}
		@media (hover:hover){
			&:hover {
				background-color: #fff;
				button.navbar-toggler {
					&:not(.inner-nav-xs) {
						&::after {
							filter: none;
						}
						&::before {
							color: #0d2132;
						}
					}
				}
				img.white-logo {
					display: none;
				}
				img.hover-color-logo {
					display: block;
				}
			}
		}
	}
	.navbar {
		.nav-item {
			.dropdown-menu.megamenu {
				position: absolute;
			}
		}
	}
	.mega-left {
		padding: 30px 0;
	}
	.mega-col {
		padding: 30px 0;
	}
	.btn.btn-warning.sm-md-show-btn {
		background-color: #f4eb2d !important;
		box-shadow: 0 5px 10px 0 rgba(244, 235, 45, 0.3) !important;
		border: solid 2px #f4eb2d !important;
		color: #000;
		font-size: 14px;
		font-weight: 500;
		padding: 7px 20px;
		line-height: 18px;
		min-height: 34px;
		display: flex !important;
	}
	.sm-md-space {
		.mega-col {
			padding-bottom: 0;
		}
	}
	.hero-nav-hover-wrap.add-nav-hover {
		button.navbar-toggler {
			&:not(.inner-nav-xs) {
				&::before {
					color: #0d2132;
				}
				&::after {
					filter: none;
				}
			}
		}
	}
	html {
		body {
			.hero-nav {
				.hero-nav-hover-wrap {
					+ {
						.nav-ovraly {
							display: none !important;
						}
					}
				}
				.hero-nav-hover-wrap.bg-shadow-tab {
					+ {
						.nav-ovraly {
							display: block !important;
						}
					}
				}
				.hero-nav-hover-wrap {
					&.bg-shadow-tab {
						background: #fff;
						.header-nav {
							.navbar {
								.navbar-nav {
									li {
										a {
											color: #0d2132;
										}
									}
								}
							}
						}
						img.white-logo {
							display: none;
						}
						img.hover-color-logo {
							display: block;
						}
						button.navbar-toggler {
							&:not(.inner-nav-xs) {
								&::before {
									color: #0d2132;
								}
								&::after {
									filter: none;
								}
							}
						}
					}
				}
			}
			.services-nav {
				header.inner_page_ovarlay {
					+ {
						.nav-ovraly {
							display: none !important;
						}
					}
				}
				header.inner_page_ovarlay.bg-shadow-tab {
					+ {
						.nav-ovraly {
							display: block !important;
						}
					}
				}
			}
		}
	}
	.mega-left {
		a.links {
			padding-top: 10px !important;
		}
	}
	.navbar {
		.nav-item {
			@media (hover:hover){
				&:hover {
					.nav-link {
						color: #fff;
					}
				}
			}
/*			.dropdown-menu.show {
				transition: opacity 0.3s, transform 0.3s;
				opacity: 1;
				visibility: visible;
				top: 86%;
				transform: rotateX(0deg);
			}*/
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.header-nav {
		.navbar {
			.navbar-nav {
				>li {
					>a {
						margin-left: 12px;
						margin-right: 12px;
					}
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	.dropdown.has-megamenu {
		.dropdown-menu.megamenu {
			>.row {
				display: none;
			}
		}
	}
	ul.dropdown-menu-md-none {
		list-style: none;
		background-color: #f7f7f7;
		margin-left: -15px;
		margin-right: -15px;
		padding: 3px 0;
		margin-top: 15px;
		li {
			a {
				padding: 2px 0 !important;
				font-size: 12px !important;
				font-weight: 500 !important;
			}
			margin: 8px 40px;
		}
	}
	.hero-nav-hover-wrap {
		.header-nav {
			.navbar-collapse {
				top: 0;
			}
		}
	}
	img.hover-color-logo {
		display: none !important;
	}
}
@media (min-width: 576px) {
	.add-nav-hover {
		.header-nav {
			.navbar {
				.navbar-nav {
					li {
						a {
							color: #0d2132;
						}
					}
				}
			}
		}
		img.white-logo {
			display: none;
		}
		img.hover-color-logo {
			display: block;
		}
	}
	.hero-nav-hover-wrap {
		@media (hover:hover){
			&:hover {
				background: #fff;
				.header-nav {
					.navbar {
						.navbar-nav {
							li {
								a {
									color: #0d2132;
								}
							}
						}
					}
				}
				img.white-logo {
					display: none;
				}
				img.hover-color-logo {
					display: block;
				}
			}
		}
	}
	img.hover-color-logo {
		display: none;
	}
	.megamenu {
		.col-sm-8.col-lg-9 {
			>.row {
				>.col-sm-6 {
					flex-basis: 0;
					flex-grow: 2;
					min-width: 50%;
					max-width: 100%;
				}
			}
		}
	}
	.navbar {
		@media (hover:hover){
			.nav-item:hover {
				.nav-link {
					color: #fff;
				}
				.dropdown-menu {
					transition: opacity 0.7s, transform 0.7s;
					opacity: 1;
					visibility: visible;
					top: 86%;
					transform: rotateX(0deg);
				}
			}
		}
		.nav-link {
			&.dropdown-toggle {
				&.touch_show {
					& + .dropdown-menu {
						transition: opacity 0.7s, transform 0.7s;
						opacity: 1;
						visibility: visible;
						top: 86%;
						transform: rotateX(0deg);
					}
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.hero-nav-hover-wrap {
		button.navbar-toggler {
			&:not(.inner-nav-xs) {
				&::before {
					color: #fff;
				}
				&::after {
					filter: invert(100%);
				}
			}
		}
	}
	.hero-nav-hover-wrap.nav-ovarlay-show {
		+ {
			.nav-ovraly {
				display: block !important;
			}
		}
	}
	header.inner_page_ovarlay.nav-ovarlay-show {
		+ {
			.nav-ovraly {
				display: block !important;
				top: 0 !important;
				z-index: 999;
			}
		}
	}
	html.nav-open, html.nav-open body {
	    overflow: hidden;
	}
}
@media (min-width: 992px) {
	.hero-nav-hover-wrap.add-nav-hover {
		background-color: #fff;
	}
	.megamenu {
		.col-sm-8.col-lg-9 {
			>.row {
				>.col-sm-6 {
					flex-basis: 0;
					flex-grow: 1;
					min-width: 25%;
					max-width: 100%;
				}
			}
		}
	}
	.navbar {
		@media (hover:hover){
			.nav-item:hover {
				.nav-link {
					color: #fff;
				}
				.dropdown-menu {
					transition: opacity 0.7s, transform 0.7s;
					opacity: 1;
					visibility: visible;
					top: 86%;
					transform: rotateX(0deg);
				}
			}
		}
	}
}
