body {
    @include rem(padding, 0);
    @include rem(margin, 0);
    font-family: "open-sans", sans-serif;
    @include rem(font-size, 16px);
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "altivo", sans-serif;
    @include rem(font-size, 54px !important);
    font-weight: bold;
    line-height: 54px;

    @include media-breakpoint-down(xs) {
        @include rem(font-size, 42px !important);
        line-height: 44px;
    }
}

h2 {
    font-family: "altivo", sans-serif;
    @include rem(font-size, 44px);
    font-weight: bold;
    line-height: 46px;

    @include media-breakpoint-down(md) {
        @include rem(font-size, 38px);
        line-height: 40px;
    }
}

h4 {
    font-family: "altivo", sans-serif;
    @include rem(font-size, 21px);
    line-height: 28px;
}

p {
    @include rem(font-size, 16px);
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    color: $grey-1;
}

button:focus,
select:focus {
    outline: none;
}
