name: Deploy root to WP Engine

on:
  workflow_call:
    inputs:
      env_install:
        type: string
        required: true
      env_ssh_host:
        type: string
        required: true
    secrets:
      known_hosts:
        required: true
      wpengine_ssh_key_private:
        required: true

jobs:

  backup:
    runs-on: ubuntu-latest
    if: false

  deploy:
    runs-on: ubuntu-latest
    needs: [ backup ]
    if: always()
    steps:

    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'

    - uses: benoitchantre/setup-ssh-authentication-action@1.0.0
      with:
        private-key: ${{ secrets.wpengine_ssh_key_private }}
        private-key-name: deploy-wpengine
        known-hosts: ${{ secrets.known_hosts }}

    - run: |
        rsync -chaviP --stats --no-times --no-perms \
          -e 'ssh -i ~/.ssh/deploy-wpengine' \
          --exclude /.git/ \
          --exclude /.github/ \
          --exclude /.gitignore \
          --exclude /.ssh/ \
          --exclude /.editorconfig \
          --exclude /wp-config-sample.php \
          --exclude /wp-content/ \
          --exclude /dev/ \
          --exclude /composer.json \
          --exclude /composer.lock \
          --exclude /phpcs.xml \
          --exclude /phpstan-baseline.neon \
          --exclude /phpstan.neon \
          --exclude /vendor \
          --exclude /node_modules \
          --exclude /.nvmrc \
          --exclude /.stylelintignore \
          --exclude /.stylelintrc.json \
          --exclude /package.json \
          --exclude /package-lock.json \
          ./ "${{ inputs.env_install }}@${{ inputs.env_ssh_host }}:/sites/${{ inputs.env_install }}/"
