section.resources-second-wrap.blog-banner-wrap.green-banner-wrap {
    margin-top: 0 !important;
    margin-bottom: 200px !important;
    &::after {
        background-image: url('../../images/plus-pattern-green.png');
    }
    &.tools-main-wrap{
        @media (min-width: 1200px) {
            margin-bottom: 220px;
        }
        h1 {
            a {
                color: #fff;
            }
        }
        .blog-banner-img {
            img {
                max-height: 494px;
            }
        }
        .links {
            display: block;
            color: #38e426 !important;
            margin-top: 35px;
        }

    }
}
.back-link.back-link-green {
    svg {
        fill: #38e426;
        margin-right: 6px;
    }
    g {
        fill: #38e426;
        margin-right: 6px;
    }
    a {
        color: #38e426;
    }
}

section.resources-second-wrap.blog-banner-wrap.green-banner-wrap.single-tool-wrap {
    margin-bottom: 0px !important;
}

section.section.ebook-details-desc.pb-5.tool-details-desc {
    padding-top: 40px;
}
